* {
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.login_container {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(45deg, rgb(232, 232, 232), rgb(242, 242, 242));
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-auto-flow: column;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-wrap: wrap-reverse;
	padding: 20px;
}
h1 {
	padding-bottom: 10px;
}
.left-login {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding: 41px;
	height: 100%;
}

.form_container-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.form_container-login h1 {
	font-size: 40px;
	margin-top: 0;
}

.input-login {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background: linear-gradient(45deg, rgb(234, 255, 247), rgb(232, 255, 253));
	font-size: 14px;
}

.error_msg-login {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 15px;
	text-align: center;
	opacity: 0.9;
}

.right-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(45deg, #ff6739, #ff9a7b);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 20px;
	height: 100%;
	align-self: stretch;
}



.right-login h1 {
	margin-top: 0;
	color: white;
	font-size: 38px;
	align-self: center;
}

.white_btn-login,
.green_btn-login {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn-login {
	background: linear-gradient(45deg, #ff6739, #ff9a7b);
	color: white;
	margin: 10px;
}

@media (max-width: 713px) {
	.login_form_container { 
		grid-auto-flow: row;
	}
	.right-login {
		border-radius: 0px;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		order: -1;
	}
	.left-login {
		
		border-radius: 0px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		order: 1;
		
	}
}